body {
    background-image: url(image/website1.jpg);
    color:#fff;
    background-size: cover;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.main-section {
  background-image: url(image/girl.jpg);
  background-position: center right;
  background-size: cover;
  height: 425px;
  margin-top: 0;
  text-align: center;
  overflow: hidden;
}
h2.top {
  font-family: 'Germania One', cursive;
  letter-spacing: 3px;
  margin-top: 5px;
  float: left;
  margin-left: 15px;
  padding-left: 20px;
}
.header-area {
  text-align: center;
  padding-top: 80px;
  line-height: 3px;

}

.header-area h4{
  word-spacing: 5px;
}

.header-area h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: normal;
  font-size: 60px;
}

.radius{
  background: tomato;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}

.radius:hover { 
  background: green;
  color: #fff;
}
.row {
  background: #fff;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  min-height: 60vh;
  color: gray;
}

.main {
  width: 100%;

}
.main h3{
  font-weight: normal;
  font-size: 40px;
  line-height: 10px;
}
.main p{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 27px;
}
#right-image {
  float: right;
  width: 30%;
  margin-right: 200px;
}

.right-side {
  background-image: url(./image/girl1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.side-content {
  float: right;
  padding-top: 50px;
  width: 40%;
  padding-right: 40px;
  color: #eee;
}

.side-content h3{
  font-weight: normal;
  font-size: 40px;
  line-height: 10px;
}
.side-content p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 27px;
}
.radius-btn {
  background: gray;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  
}

.radius-btn:hover { 
  background: tomato;
  color: #fff;
  transition: 0.3s;
  animation: right;
}

#main-footer {
  background: #55ACEE;
  color: #fff;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .row{   
    flex-direction: column;
    padding: 30px;

  }
  .main {
    width: 100%;
<<<<<<< HEAD
  }
=======
   }
>>>>>>> 96dd412b17fe88378357f8c08aaa289278bcd82a
  .side-content {
    flex-direction: column;
    height: 600px;
    width: 100%;  
  }
}
